<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meetups</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<title><%= @meetup.title %></title>

<p>
  <% unless @meetup.users.include?(current_user)%>
  <form method="post" action="/add_attendee">
    <input name="meetup" value="<%= @meetup.id %>" hidden>
    <input type="submit" value="Join Meetup">
  </form>
</p>
<%end%>


<h3><%= @meetup.title %></h3>
<p>Date: <%= @meetup.start_date %></p>
<p>Time: <%= @meetup.start_time %></p>
<p>Created By: <%= @user.username %></p>
<p>Location: <%= @meetup.location %></p>
<p>Description: <%= @meetup.description %></p>




<p>Attendees:</p>

  <% @meetup.users.each do |user| %>
  <p><img src="<%= user.avatar_url %>" width="100" hieght="100"></p>
  <p><%= user.username %></p>
  <% end %>
