<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meetups</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<title><%= @meetup.title %></title>

<p>
  <% if @meetup.users.include?(current_user)%>
  <form method="post" action="/delete">
    <input name="meetup" value="<%= @meetup.id %>" hidden>
    <input type="submit" value="Leave the <%=@meetup.title%> Meetup">
  </form>
  <% else %>
  <form method="post" action="/add_attendee">
    <input name="meetup" value="<%= @meetup.id %>" hidden>
    <input type="submit" value="Join Meetup">
  </form>
  <% end %>
</p>


<h3><%= @meetup.title %></h3>
<p>Date: <%= Date.parse(@meetup.start_date.to_s) %></p>
<p>Time: <%= @meetup.start_time %></p>
<p>Created By: <%= @user.username %></p>
<p>Location: <%= @meetup.location %></p>
<p>Description: <%= @meetup.description %></p>




<p>Attendees:</p>

  <% @meetup.users.each do |user| %>
  <p><img src="<%= user.avatar_url %>" width="100" hieght="100"></p>
  <p><%= user.username %></p>
  <% end %>


  <p>Leave A Comment:</p>
  <form method="post" action="/comment">
    <p><input type="text" name="title" value="Title"></p>
    <p><input type="textarea" name="comment" value="Write a Comment"></p>
    <input name="meetup" value="<%= @meetup.id %>" hidden>
    <input type="submit">
  </form>
  <br>
  <p>Comments:</p>
  <ul>
    <% @comments.each do |comment| %>
    <li>
      <p><%= comment.title %></p>
      <p><%= comment.comment %></p><br>
      posted by: <%= User.find_by(id: comment.user_id).username %>
    </li>
    <% end %>
  </ul>
